:root{
    font-family: Bangers;
}

*{
    margin:0;

}

body{
    background-color: rgb(79, 158, 79);
    overflow: hidden;
}

main{
    height: 30rem;
}

header{
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.header_left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* En el audio al hacer un hover he añadido una transicción.
Esta cambia dos estilos. */

.audio_container{
    width: 150px;
    overflow: hidden;
    background-color: rgb(10, 224, 142);
    border-radius: 100px;
    transition: backgroun-color 5s ease, width 5s ease;
}

.audio_container:hover{
    width: 350px;
    overflow: hidden;
    background-color: rgb(11, 61, 32);
}

audio{
    width: 100%;
}

.videos{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.video_yt{

}

#rueda {
    animation: invert 5.1s infinite;
}

.video{
    width: 560px; 
    height: 315px;
animation: kickflip 2s infinite;
/* animation-delay: 1s;  */

}

h2{

    color: rgb(226, 240, 226);
font-weight: 100;
font-size: 1.5rem;

animation: jump 2s infinite;
}

@keyframes jump {
    0%{
        transform:translateY(0px) ;
    }
    50%{
        transform: translateY(-20px) ;
    }
    90%{
        transform: translateY(-20px) ;
    }
    100%{
        transform:translateY(0px) ;
    }
}

@keyframes kickflip {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

@keyframes invert {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

footer{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: flex-end;
    animation: slide 3s alternate-reverse ease-in infinite;
    border-radius: 80px;
}

/* Aquí he añadido una animación relacionada con la escuela de skate.
Está activa cuando se abre el navegador y contiene tres propiedades de animación. */

@keyframes slide {
    from {
        transform:scale(1,1) translateX(0%) ;
        
        background-color: rgba(9, 43, 18, 100);
        

    }
    to{
        transform: scale(2, 2) translateX(80%) ;
        
        background-color: rgba(9, 43, 18, 0);
    }
    
}